*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./PIZZAS_Fondo.jpg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    /* background-color: #ebcf31; */
    color: #060606;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    border-radius: 2rem;
}
.buscar_pizza{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.id_pizza{
    text-align: center;
    border-radius: 5px;
    background: red;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px black;


}
.boton_buscar{
    text-align: center;
    border-radius: 5px;
    background: red;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px black;

}
.container h1{
    font-size: 50px;
    font-weight: bolder;
}

.renderizar_pizza{
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 10px;
    gap: 15px;
    border-radius: 3rem;
    border: 1px solid rgb(125, 112, 112);
    box-shadow: -3px 2px 20px 5px rgba(30, 29, 29, 0.784);

}
.imagen_pizza{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 3rem;
    border: 1px solid rgb(125, 112,112);
    box-shadow: -3px -3px 13px 1px black;

}
.nombre_pizza span{
   color: white; 
}
.ingredientes_pizza{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.ingredientes_pizza span{
color: white;
font-size: 15px;
}
.precio_pizza{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 5rem;
    padding: 5px;
}

.error{
    display: none;
    align-items: center;
    font-weight: lighter;
    background-color: black;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.error span{
    color: red;
    font-size: 25px;
}

@media (max-width: 500px) {
    .error{
        flex-direction: column;
    }
}
